
<div id="<%= dom_id product %>" class="product-container">
    <p>
      <strong>Name:</strong>
      <%= product.name %>
    </p>
    <p>
      <strong>Category:</strong>
      <%=product.category.name %>
    </p>
     <p>
       <strong>Price: </strong>
       <%= number_to_currency(product.price, unit: "", separator: ".", delimiter: "", format: "%n %u") %> $
     </p>
      <p class="lead my-3">
       <strong>Description: </strong>
       <%= product.description %>
     </p>
      <div>
        <% product.images.each do |image| %>
          <%= link_to image_tag(image.variant(resize_to_limit: [100, 100])), image %>
        <% end %>
      </div>

  <%= form_with(url: add_to_cart_cart_path, method: 'post', remote: true ) do |f| %>
      <%= f.number_field :quantity, value: 1, min: 1, max: 10 %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.submit "Add To Cart" %>
    <% end %>
</div>